/* navbar v1.0 */

.layout-children-with-navbar {
  @apply relative top-16  h-[calc(100vh-64px)];
  @apply bg-background text-foreground;
}

nav, .nav {
  @apply fixed top-0 z-40 w-full h-16 pr-1;
  @apply flex py-2 justify-start items-center flex-col sm:flex-row;
  @apply bg-slate-300 dark:bg-background text-foreground/50 border-b-2 border-t-2 border-foreground/10;
}

.menu-bar {
  @apply flex-col sm:flex sm:flex-row;
  @apply w-full items-baseline sm:items-center sm:justify-end;
  @apply gap-6 sm:gap-4 pl-3 sm:pl-0 pr-6;
  @apply bg-slate-300 dark:bg-background text-foreground/50;
  @apply border-0;
  @apply fixed top-16 left-0 w-3/5;
  @apply sm:relative sm:top-0 w-full;
}

.menu-bar-content {
  @apply bg-slate-400/60 dark:bg-background dark:text-foreground/50;
  @apply border-2 border-foreground/15 rounded-lg;
  @apply py-2;
}

.menu-bar-separator {
  @apply bg-slate-500;
  @apply h-[0.25px] my-2;
}

.menu-profile {
  @apply flex-col;
  @apply bg-slate-400/60 dark:bg-background text-foreground/50;
  @apply border-2 border-foreground/15 rounded-lg px-5 items-start gap-3;
  @apply fixed top-16 right-1 w-auto h-auto;
}
